
@charset "utf-8";

body.w {background-color: #fff;}
.inner {position: relative; max-width: 1240px;margin: 0 auto;box-sizing: border-box;}
.inner::after {display: block;content: '';clear: both;}

/*** header ***/
header {position: fixed;width: 100%;left: 0;top: 0;z-index: 9999;height: 100px;transition: all 0.5s;}
header .inner {padding: 0 100px;max-width: 100%;}
header .logo {padding: 31px 0;}
header .logo a {background: url(../images/common/logo.png) no-repeat;width: 221px;height: 38px;text-indent: -9999px;}
header:after {display: block;content: "";position: absolute;left: 0;top: 99px;width: calc(100% - 100px);height: 1px;background: #fff;opacity: 0.3;z-index: 102;}
.header_cont {position: relative;height: 100px;transition: all 0.5s;}

nav {position: absolute;top: 0;right: 50%;transform: translateX(50%);width: 964px;}
.mobile_menu,.gnb-m {display: none;}
.gnb {display: flex;}
.gnb > li {position: relative;width: 16.66%;}
.gnb > li > a {height: 100px;display: flex;align-items: center;justify-content: center;font-size: 17px;font-weight: 700;color: #fff;transition: all 0.7s;}
.depth2 {display:none;position: absolute;left: 0;z-index: 101;top: 100%;width: 100%;height: 260px;padding-top: 30px;text-align: center;transition: all 0.7s;box-sizing: border-box;}
.depth2 > li > a {color: #666;font-size: 16px;padding: 6px 0;transition: all 0.3s;}
.depth2 > li > a span {position: relative;display: inline-block;}
.depth2 > li > a span:after {display: block;content: "";position: absolute;width: 0;left: 50%;transform: translateX(-50%);bottom: 0;height: 2px;background: #fff;transition: all 0.3s;}
.gnb_btm {width: 100%;height: 60px;background: #f8f8f8;opacity: 0;visibility: hidden;}
.gnb_btm::after {display: block;content: '';clear: both;}
.gnb_btm > div {float: right;margin-right: 10px;padding: 14px 0;}
.gnb_btm span {position:relative;display:inline-block;vertical-align: middle;font-size: 16px;line-height: 32px;color: #999;font-weight: 500;padding: 0 30px 0 25px;}
.gnb_btm span::before {display: inline-block;content: '';position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 2px;height: 20px;background: #ddd;}
.gnb_btm span:first-child {padding-left: 0;}
.gnb_btm span:first-child:before {display: none;}
.gnb_btm span img {margin-right: 5px;}
.gnb_btm span a {color: #111;background: url(../images/common/arr_circle.png) no-repeat right center;padding-right: 31px;}

.gnb > li:hover > a {background: #1e2d78;color: #fff !important;}
.gnb > li:hover .depth2 {background: #1e2d78;}
.gnb > li:hover .depth2 li a {color: #cacfea;}
.depth2 > li:hover > a {color: #fff !important;font-weight: 700;}
.depth2 > li:hover > a span:after {width: 100%;}

header.over:after {background: #e1e1e1;opacity: 1;}
header.over .header_cont {height: 420px;background: #fff;}
header.over .logo a {background-image: url(../images/common/logo_b.png);}
header.over .gnb > li > a {color: #111;}
header.over .depth2 {display: block;}
header.over .gnb_btm {position: relative; left: 0; bottom: -260px; padding-right: 100px; opacity:1; visibility: visible; transition: 0.4s ease-in-out; box-sizing: border-box;}

body.w header {background: #fff;}
body.w header::after {background: #e1e1e1;opacity: 1;}
body.w .gnb > li > a {color: #111;}
body.w header .logo a {background-image: url(../images/common/logo_b.png);}

/* body.w header {position:absolute;left:0;top:0;width:100%;text-align:center;z-index:100;} */
body.w header.top {position: fixed;margin: 0 !important;}
body.w header.top .header_cont {background: #fff;}
body.w header.top .logo a {background-image: url(../images/common/logo_b.png);}
body.w header.top #gnb .dep_m {color: #222;}
body.w header.top .utill_nav .btn_sitemap em {background: #222;}
body.w header.top .login .log {background-image: url(../images/common/ico_logout_on.png)}
body.w header.top .login .log.in {background-image: url(../images/common/ico_login_on.png)}

/*** utill ***/
.utill {position: absolute;right: 0;top: 0;}
.utill > ul,.sitemap_box {display: inline-block;vertical-align: middle;}
.utill > ul {font-size: 0;margin-right: 43px;}
.utill > ul > li {display: inline-block;vertical-align: middle;height: 100px;}
.utill > ul > li > a {background-repeat: no-repeat;background-position: center;width: 34px;height: 100%;padding: 0 18.5px;}
.remote {background-image: url(../images/common/btn_util01.png);}
.login {background-image: url(../images/common/btn_util02.png);}
.join {background-image: url(../images/common/btn_util03.png);}
.utill > ul > li > a span {opacity: 0;}
/* tooltip */
.tooltip {position: relative;transition: all 0.3s;}
.tooltip span {position: absolute;left: 50%;transform: translateX(-50%);margin-top: 75px;width: 100%;text-align: center;visibility: hidden;min-width: 60px;height: 28px;line-height: 28px;padding: 0 5px;border-radius: 14px;text-align: center;color: #fff;background-color: #19ade4;opacity: 0;transition: opacity 1s;z-index: 200;font-size: 14px;box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.22);}
.tooltip span::after {display: block;content: " ";position: absolute;left: 50%;transform: translateX(-50%);top:-5px;background: url(../images/common/arr_tooltip.png) no-repeat;width: 10px;height: 5px;}
.tooltip:hover span {visibility: visible;opacity: 1;}
.tooltip.remote {background-image: url(../images/common/btn_util01_on.png) !important;}
.tooltip.login {background-image: url(../images/common/btn_util02_on.png) !important;}
.tooltip.join {background-image: url(../images/common/btn_util03_on.png) !important;}

header.over .remote {background-image: url(../images/common/btn_util01_over.png);}
header.over .login {background-image: url(../images/common/btn_util02_over.png);}
header.over .join {background-image: url(../images/common/btn_util03_over.png);}

body.w header .remote {background-image: url(../images/common/btn_util01_over.png);}
body.w header .login {background-image: url(../images/common/btn_util02_over.png);}
body.w header .join {background-image: url(../images/common/btn_util03_over.png);}

/* sitemap */
.utill .btn_sitemap {display:block;width:100px;height:100px;background:#1e2d78;border-radius: 0 0 30px 0;overflow:hidden;}
.utill .btn_sitemap > div {display:block;width:30px;margin: 39px 35px;}
.utill .btn_sitemap span {display: block;width:30px;height:1px;position: relative;margin: 10px 0 0;}
.utill .btn_sitemap em {display: block;width:100%;height:1px;background:#fff;transition:background 0.4s;position: absolute;right: 0;}
.utill .btn_sitemap span:nth-child(2) em {transition: all 200ms ease-in-out;}
.utill .btn_sitemap span:nth-child(3) em {transition: all 400ms ease-in-out;}
.utill .btn_sitemap:hover span:nth-child(1) em {animation: burger-hover 1s infinite ease-in-out alternate;}
.utill .btn_sitemap:hover span:nth-child(2) em {animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;}
.utill .btn_sitemap:hover span:nth-child(3) em {animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;}
/* sitemap_cont */
#sitemap_cont {display:none;position:fixed;left:0;top:0;width:100%;height:100%;z-index:1000;}
#sitemap_cont.act {display:block;}
#sitemap_cont .bg {position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:1;}
/* sitemap_inner */
.sitemap_inner {position:absolute;left:50%;top:50%;width:1220px;background:#fff;box-sizing:border-box;text-align:left;vertical-align:top; text-align: center; transform:translate(-50%, -50%);z-index:2;border-radius: 30px; overflow: hidden;}
.sitemap_inner .title {padding: 0 40px; height: 96px; line-height: 105px;font-size: 24px;font-weight: 700;text-align: left;}
.sitemap_wrap {padding: 0 40px 40px;}
.sitemap_wrap .sitemap__list {display: table; width:100%;border-top: 2px solid #111;}
.sitemap_wrap .sitemap__items {display: table-cell; border-bottom: 1px solid #ddd;}
.sitemap_wrap .sitemap__items ~ .sitemap__items{ border-left: 1px solid #e1e1e1;}
.site_tit{font-size: 20px; line-height: 80px; border-bottom: 1px solid #e1e1e1; font-weight: bold;}
.site_list { margin: 14px 0;}
.site_list .sitemapitems_list {margin-bottom: 10px;}
.site_list .sitemapitems_list a{font-size: 16px; line-height: 26px; color: #999; font-weight: 400;}
.sitemap__items:hover {background: #1e2d78;}
.sitemap__items:hover .site_tit {color: #fff;}
.sitemap__items:hover .site_list li a{position: relative; color: #cacfea;}

.sitemap__items .site_list > li > a { display: inline-block; padding: 7px 0; font-size: 16px; font-weight: 500;color: #444; box-sizing: border-box;}
.sitemap__items .site_list > li:hover > a{color: #fff;}
.sitemap__items .site_list > li > a::after{content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #fff; opacity: 0; transform: scaleX(0);  transition: 0.3s;}
.sitemap__items .site_list > li:hover > a::after{ opacity: 1;  transform: scaleX(1); transition: 0.3s;}
.sitemap__items .sitemapitems_list > li > a:hover {color: #ffcc44;}
/* btn_sitemap_cl */
.btn_sitemap_cl {position: absolute; right: 40px; top: 38px; width: 34px; height: 34px; transform: rotate(45deg);}
.btn_sitemap_cl span {position:absolute;top:auto;left:auto;width:2px;height:2px;overflow:hidden;text-indent:0;clip:rect(2px 2px 2px 2px);}
.btn_sitemap_cl em {display:block;width:24px;height:24px;transition:transform 0.4s;}
.btn_sitemap_cl:before {position:absolute;left:0;top:50%;width:34px;height:2px;margin-top:-1px;background:#000;content:"";}
.btn_sitemap_cl:after {position:absolute;left:50%;top:0;width:2px;height:34px;margin-left:-1px;background:#000;content:"";}
.btn_sitemap_cl:focus em {transform:rotate(225deg);}
header.over .btn_sitemap {border-radius: 0;}

/* dim */
.dim {display:none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.3);z-index: 100;}


/***  footer ***/
#footer {color: #999;}
#footer .inner {position: relative;}
#footer .ft_top {overflow:hidden;position:relative;border-top:1px solid #e1e1e1;background:#f7f7f7;height: 258px;box-sizing: border-box;}
#footer .ft_top .inner {display:flex;justify-content:space-between;height: 100%;}
#footer .ft_top .inner > div {width:16.66%;border-right: 1px solid #e1e1e1;padding: 34px 0;}
#footer .ft_top .inner > div:first-child {border-left: 1px solid #e1e1e1;}
#footer .ft_top h4 {font-size: 16px;font-weight: 500;padding-left: 40px;color: #111;margin-bottom: 15px;}
#footer .ft_top ul li a {font-size: 14px;line-height: 30px;color: #444;font-weight: 500;padding-left: 40px;}
#footer .ft_ban {height: 100px;background: #fff;box-sizing: border-box; border-top: 1px solid #e1e1e1;}
#footer .ft_ban ul {display:flex;justify-content:space-between;}
#footer .ft_ban ul a {height: 100px;display:flex;align-items: center;}
#footer .ft_btm {position: relative;height: 201px;background: #282828;font-size: 14px;line-height: 28px;padding: 30px 0 40px;box-sizing: border-box;}
#footer .ft_btm ul li:last-child {margin-right: 0;}
#footer .ft_btm .ft_link {font-size: 0;}
#footer .ft_btm .ft_link li {display: inline-block;margin-right: 30px;}
#footer .ft_btm .ft_link li a {color: #aaa;font-size: 15px;transition: all 0.3s;}
#footer .ft_btm .ft_link li a:hover,#footer .ft_btm .ft_link li a.on {color: #fff;font-weight: 500;}
#footer .ft_btm .ft_info li {display: inline-block;margin-right: 20px;}
.copy {color: #666;font-size: 13px;}
#footer .logo {position: absolute;right: 0;top: 50%;transform: translateY(-50%);background: url(../images/common/foot_logo.png) no-repeat;width: 203px;height: 36px;text-indent: -9999px;}

.top_btn {position: fixed;bottom: 60px;right: 68px;width: 64px;opacity: 0;transition: ease 300ms;-webkit-transition: ease 300ms;z-index: 101;}
.top_btn.on {opacity: 1;visibility:visible;}
.top_btn.h {bottom: 60px !important;}
.top_btn button {display: block;overflow: hidden;width: 64px;height: 64px;text-align: center;border-radius: 50%;background: #fff url("../images/common/ico_top.png") no-repeat center 20px;cursor: pointer;font-family: 'Lato', sans-serif;font-size: 16px;font-weight: 700;padding-top: 5px;}
body.w .top_btn button {background-image: url(../images/common/ico_top_w.png);background-color: #111;color: #fff;}

@media all and (max-width:1800px) {
    header .inner {max-width: 100%;padding: 0 40px;}
    nav {width: 920px;}
    .utill > ul {margin-right: 0;}
}
@media all and (max-width:1500px) {
    .inner {max-width: 100%;padding: 0 40px;}
    header.over .header_cont {height: 390px;}
    header .inner {padding: 0 15px;}
    header {height: 70px;}
    header:after {top: 69px;width: calc(100% - 70px);}
    .header_cont {height: 70px;}
    header .logo {padding: 21px 0;height: 28px;}
    header .logo a {width: 165px;background-size: 165px;}
    nav {width: 750px;}
    .gnb > li > a {height: 70px;}
    .depth2 > li > a {font-size: 14px;padding: 4px 0;}
    .utill > ul > li {height: 70px;}
    .utill > ul > li > a {width: 27px;background-size: 27px;padding: 0 8px;}
    .tooltip span {margin-top: 58px;}

    .utill .btn_sitemap {width: 70px;height: 70px;border-radius: 0 0 15px 0;}
    .utill .btn_sitemap > div {width: 25px;margin: 0 24px;}
    .utill .btn_sitemap span {width: 25px;margin: 8px 0 0;}

    .top_btn {right: 40px;}

    #footer .logo {right: 40px;}

}

@media all and (max-width:1200px) {
    header:after, .gnb, .utill {display: none;}
    header .logo a {background-image: url(../images/common/logo_m.png);background-size: 142px;width: 142px;height: 25px;}

    /*  mobile gnb */
    .mobile_menu {position:absolute;right:0;top:0;width:56px;height:70px;display:block;text-indent:-9999px;z-index: 105;overflow:hidden;cursor: pointer;padding: 22px 0;box-sizing: border-box;}
    .mobile_menu span {display: block;width:30px;height: 2px;background: #fff;border-radius: 1px;margin: 5px auto;}
    .mobile_menu span:nth-child(2) {width: 23px;position: relative;right: -3.5px;}
    .gnb-m {position:fixed;width: 100%;max-width:750px;height:100%;z-index:1000;top:0;right:-150%;background:#fff;overflow:auto;-webkit-overflow-scrolling: touch;display: block;}
    .gnb-m .top_box {padding:0 16px;height: 60px;border-bottom: 1px solid #e1e1e1;}
    .gnb-m .top_box .btn_close {position:absolute;right:0;top:0;width:60px;height:60px;background:url(../images/common/gnb_close.png) no-repeat center; background-size:24px; display:block; text-indent:-9999px; overflow:hidden; z-index: 2000; cursor: pointer; }
    .gnb-m .top_box ul {padding: 10px 0;}
    .gnb-m .top_box ul li {display: inline-block;margin-right: 10px;}
    .gnb-m .top_box ul li a {color: #666;font-size: 13px;height: 40px;line-height: 38px;border-radius: 20px;border: 1px solid #ddd;padding: 0 20px;box-sizing: border-box;background: #fff;}
    .gnb-m .top_box ul li a.join {color: #fff;background: #1e2d78;border-color: #1e2d78;}
    .gnb-m .m_menu .mobile {color:#222;cursor:pointer;background:#fff;}
    .gnb-m .m_menu .mobile.on {border-bottom-color: #1e2d78;}
    .gnb-m .m_menu .head.not {background:#fff;}
    .gnb-m .m_menu .mobile > a {color:#222;font-size: 14px;font-weight: 500;padding: 13px 20px;display:block;position:relative;border-bottom:1px solid #e1e1e1;box-sizing: border-box;}
    .gnb-m .m_menu .deth_2 {display:none;font-size: 0;background-color: #f9f9f9;}
    .gnb-m .m_menu .deth_2 li {display: inline-block;vertical-align:top;width: 50%;min-height: 50px;border-right: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;box-sizing: border-box;}
    .gnb-m .m_menu .deth_2 li:nth-child(2n) {border-right: 0;}
    .gnb-m .m_menu .deth_2 a {display:block;background:#f9f9f9;color:#666;padding: 0 20px;font-size:14px; line-height: 50px; font-weight: normal;}
    .gnb-m .m_menu .mobile > a.on {color:#fff;background: #1e2d78;}
    .gnb-m .m_menu .mobile > a:before {content: '';width:30px;height:30px;background: url(../images/common/arr_gnb_down.png) no-repeat center;background-size:11px;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);}
    .gnb-m .m_menu .mobile > a.on:before {background-image: url(../images/common/arr_gnb_up.png);}
    .gnb-m .m_menu .mobile.not > a:before {background:none;}
    .gnb-m .gnb_btm {display: block;background: #fff;position: static;padding: 22px 0 14px; opacity: 1; visibility: inherit;}
    .gnb-m .gnb_btm > div {float: none;margin: 0;}
    .gnb-m .gnb_btm span {width: 100%;height: 47px;font-size: 13px;line-height: 27px;padding: 0 20px;}
    .gnb-m .gnb_btm span::before {display: none;}
    .gnb-m .gnb_btm span img {width: 91px;}
    .gnb-m .gnb_btm span a {display: inline-block;background-image: url(../images/common/arr_circle_m.png);background-size: 20px;padding-right: 30px;}
    body.w .mobile_menu span {background: #111;}

    /*** footer ***/
    #footer{ display: table; table-layout: fixed; width: 100%; overflow: hidden;}

    #footer .ft_top {height: 270px;}
    #footer .ft_top .inner > div {padding-top: 20px;}
    #footer .ft_top ul li a,#footer .ft_top h4 {padding-left: 20px;}
    #footer .ft_ban {height: 78px;}
    #footer .ft_ban ul {margin: 0 -15px;width: 760px;height: 78px;}
    #footer .ft_ban ul a {margin: 0 15px;height: 78px;}
    #footer .logo {display: none;}
}
@media all and (max-width:900px) {
    .inner {padding: 0 15px;}
    #footer .ft_ban .inner {padding: 0;}
    #footer .ft_ban ul {padding: 0 15px;}


    #footer .ft_top {display: none;}

    .top_btn {bottom: 30px;right: 15px;width: 70px;}
    .top_btn.h {bottom: 30px !important;}
    .top_btn button {width: 70px;height: 70px;}

    #footer .ft_btm {height: auto;padding: 25px 0;font-size: 12px;line-height: 21px;}
    #footer .ft_btm .ft_info li {margin-right: 10px;}
    #footer .ft_btm .ft_link li a {font-size: 13px;}
    #footer .ft_btm .ft_info li.addr {display: block;}
    .copy {margin-top: 7px;font-size: 12px;}


}
