@import "../mixin.scss";

.items-wrap {
  &.etc {
    .items {
        background: #f6f6f6;
        height:23rem;
        overflow: hidden;
      .figure {
        width: 100%;
        img {
          aspect-ratio: 0;
        }
      }
    }
  }
}
