@import "../mixin.scss";

.items-wrap {
  &.etc {
    .items {
        background: #f6f6f6;
        height:auto;
        overflow: hidden;
      .figure {
        position: unset;
        transform: unset;
        width: 100%;
        height: fit-content;
        img {
          aspect-ratio: 0;
        }
      }
    }
  }
}
