html{ font-size: 20px;}
body{ padding: 0 0 2.333rem 0 ; font-size: 1rem;}

section{ padding: 0 .55rem;}
img{ width: 100%;}

header{position: fixed; left: 0; right: 0; bottom: 0; z-index: 100;height: 2.3333rem;background: #f7f7f7; border-top: 1px solid #818181;}
header ul {display: flex;}
header ul li{ flex:1;}
header ul li a{display: block; position: relative;margin: 0 auto; width: 2.3333rem; height: 2.3333rem;}
header ul li a i{position: absolute; left: 50%; top: .5166rem; transform: translateX(.6666rem); width: .8733rem; height: .8733rem;  background: #ed1c24; text-align: center; line-height: .8733rem; font-size: .5833rem; color: #fff; border-radius: 100%; font-style: normal;}
header ul li:nth-child(1) a{ background: url(../images/ico_home.png) no-repeat center / 1.4166rem auto;}
header ul li:nth-child(2) a{ background: url(../images/ico_friend.png) no-repeat center / 1.2rem auto;}
header ul li:nth-child(3) a{ background: url(../images/ico_bell.png) no-repeat center / 1.1rem auto;}
header ul li:nth-child(4) a{ background: url(../images/ico_control.png) no-repeat center / 1.2333rem auto;}

header ul li:nth-child(2).on a{ background-image: url(../images/ico_friend_c.png);}

.search{display: flex;padding: 0.5166rem 0; background: #eee;}
.search > *{ flex: 1;}
.search > a:first-child{ flex:none; width: 2.6rem; height: 1.9166rem; background: url(../images/ico_menu.png) no-repeat center/ .8833rem auto;}
.search > a:last-child{ flex: none; display: flex; width: 2.6666rem; height: 1.9166rem;}
.search > a:last-child i{ display: block; margin: auto; width: 1.4166rem; height: 1.4166rem; background: url(../images/actor1.jpg) no-repeat center / cover; border-radius: 100%;}
.search div{padding:0 0 0 2.4166rem; border-radius: .3333rem; border: 1px solid #b9b9b9; background: url(../images/ico_search.png) no-repeat #fff 1.016rem  center/.7333rem auto;}
.search div input{ border: none; width: 100%; height: 1.8833rem; border-radius: .3333rem; box-sizing: border-box; outline: 0;}

.tab{ padding: 0;}
.tab ul.tab_list{ display: flex; text-align: center;}
.tab ul.tab_list li{flex:1; position: relative; background: #eeeeee;}
.tab ul.tab_list li.on::before{ content: "";position: absolute; left: 0; bottom: 0; width: 100% ; height: 2px; background: #7552c4; }
.tab ul.tab_list li a{display: block;  font-size: .65rem; color:#a3a3a3; line-height: 2.0833rem;}
.tab ul.tab_list li.on a{display: block;  font-size: .65rem; color:#7552c4; line-height: 2.0833rem;}

.search + .member_list{padding-top: .9166rem ;}
.search + .tab + .member_list,
.search + .active + .state + .member_list{padding-top: .8166rem ;}

.member_list{ padding: 0 .4rem 0 .5833rem;}
.member_list > h2{ font-size: .6666rem; color:#282828; line-height: 1;}
.member_list h2 span{padding: 0 0 0 .1666rem; color: #7552c4;}
.member_list h2.yesterday{padding-top: .8166rem; font-weight: normal;}
.member_list ul{padding: .7833rem 0 0 2.3333rem; }
.member_list ul li{ position: relative;}
.member_list ul li a{ display: flex; align-items: center; padding: 0 2.9166rem 0 0; height: 2.15rem; color: #323131; font-size: .75rem;}
.member_list ul li a div{width: 100%;}
.member_list ul li a p{ display: flex; align-items: center; font-size: 0.5833rem;color: #939393; line-height: 1;}
.member_list ul li a p span{ padding: 0 .1833rem 0 0;color: #323131; font-weight: bold;}
.member_list ul li a p i{display: block; padding:0 0 0 .2333rem; width: .8333rem; height: .8333rem;}
.member_list ul li a em{ display: block; padding-top: .35rem; font-size: .5333rem; color:#737373; line-height: 1; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.member_list ul li a em span{  color: #000; }
.member_list ul li a > span{overflow: hidden; position: absolute; left: -2.333rem; top: 50%; transform: translateY(-50%);; width: 1.95rem; height: 1.95rem; left: -2.3333rem; border-radius: 100%; line-height: 1;}
.member_list ul li span img{ width: 1.95rem;}
.member_list ul li~li{ border-top: 1px solid #d0d0d0;}

.member_list .option1{display: flex; flex:none; align-items: center; justify-content: space-around; padding: 0 0 0.4rem; width: 5.25rem; }
.member_list .option2{position: absolute; right: 0; top: 50%; transform: translateY(-50%);padding: 0 1.6833rem 0 0; background: url(../images/ico_arr.png) no-repeat right .5rem center / .5333rem auto; line-height: 1; }

.member_list .option3{ position: absolute; right: 0; top: 50%; transform: translateY(-40%); display: flex; align-items: center;}
.member_list .option3 label{position: relative;}
.member_list .option3 em{display: block; width: 100%;text-align: center; font-size: 12px; color: #343434; }
.member_list .option3 em.black{display: block; clear: both; padding: .06rem 0 0;text-align: center; font-size: .3666rem; color: #000; }

.member_list .option3 label i{ display: block; position: relative; float: right; width: 1.6rem; height: .666rem; background: #959595; color: #fff;border-radius: 40rem; transition: background .5s;  overflow: hidden;}
.member_list .option3 label i:before{ content: ""; position: absolute; left: .083rem;
top: calc(50% - 0.2333rem);  width: .4666rem; height: .4666rem; background: #fff; border-radius: 100%; transition: left .5s;}
.member_list .option3 label i span{ position: absolute; top:.05rem; font-size: .5rem; color: #fff; font-weight: bold; line-height: .6455rem; font-style: normal; transition: .5s; letter-spacing: -0.05rem}

.member_list .option3 label i span:nth-child(1){left: -2rem; top: 0;}
.member_list .option3 label i span:nth-child(2){right: .29rem;}

.member_list .option3 input:checked + label i {background: #5cb846;}
.member_list .option3 input:checked + label i.red {background: #eb1f27;}
.member_list .option3 input:checked + label i.blue {background: #369bff;}
.member_list .option3 input:checked + label i:before { left: 1.083rem;}
.member_list .option3 input:checked + label i span:nth-child(1){ left: .2rem;}
.member_list .option3 input:checked + label i span:nth-child(2) { right: -2rem;}
.member_list ~ .member_list{padding-top: 1.1666rem;}
/* sub3 친구알림 설정*/
.btn {display: inline-block; padding: 0 0.4166rem; min-width: 2.3333rem; height: 1.2666rem;  border-radius: 0.4166rem; line-height: 1.2666rem; text-align: center; font-size: .6rem; color: #fff; outline: 0;}
.btn.type1{background: #7552c4;}
.btn.type2{background: #9f9f9f;}

.active h2{ padding: .8666rem 0 .5833rem;font-size: .6166rem; color:#282828;}
.active ul{ display: flex; align-items: center; justify-content: center;}
.active li{ flex:1;}
.active li a > div{position: relative;}
.active li.online a span{display: block; position: absolute; right: 0.5rem; bottom: 0; width: .3666rem; height: .3666rem; background: #4bcc1f; border:3px solid #fff; border-radius: 100%;}
.active a{ display: block; text-align: center;}
.active li a div div{ position: relative;margin: 0 auto; width: 2.45rem; height: 2.45rem; border-radius: 100%; overflow: hidden;}

.active p{padding: .2166rem 0 0; font-size:0.5rem; color: #282828;}

.state{ padding-top: .7833rem;}
.state a{display: block; position: relative; padding: 0 .666rem 0; background: #7552c4; font-size: .5333rem; color: #fff; line-height: 2rem; border-radius: .1666rem; }
.state a span{ padding: 0 .1666rem 0 1.5166rem; font-size: .6333rem; color: #fff; }
.state a i{position: absolute; left: .6666rem; top: .4rem; width: 1.2166rem; height: 1.2155rem; overflow: hidden; border-radius: 100%; line-height: 1;}
.state a em{ display: block; position: absolute; right: .7166rem; top:50%; transform: translateY(-50%); width: .7166rem ; height: .7166rem; background: url(../images/ico_change.png) no-repeat center / .7166rem auto;}


/* 회원가입  sub4*/
.cen > h2{ padding: 2.6666rem 0 2.1666rem; text-align: center; font-size: .9166rem; font-weight: normal; color: #000;}
.support ul{ display: flex; flex-direction: column;}
.support li{ position: relative; margin: 0 auto; }
.support li~li{ margin-top: .7833rem;}
.support li a{display: block; width: 13.7666rem; height: 2.3rem; font-size: .6166rem; line-height: 2.3rem; border-radius: .1666rem; box-sizing: border-box;}
.support li i{ font-size: .45rem; color: #929292; line-height: 2.3rem;}
.support li i:before{content: ""; position: absolute; left: -1.0666rem; top: 50%; transform: translateY(-50%); width: .7666rem; height: .0333rem; background: #c3c3c3;}
.support li i:after{content: ""; position: absolute; right: -1.0833rem; top: 50%; transform: translateY(-50%); width: .7666rem; height: .0333rem; background: #c3c3c3; }

.support li:nth-child(1) a{ background: #3b5998; color: #fff;}
.support li:nth-child(1) a span{ position: absolute; left: 1.3333rem; top: 50%; transform: translateY(-50%); width: .55rem; height:1.05rem; background: url(../images/ico_facebook.png) no-repeat center center / .55rem auto;}
.support li:nth-child(1) a span:after{content: ""; position: absolute; left:1.2rem; top: 50%; transform: translateY(-50%); width: 2px; height: .6333rem; background: rgba(255,255,255,0.3);}
.support li:nth-child(2) a{ background: #f7da00; color: #381e1f;}
.support li:nth-child(2) a span{ position: absolute; left: .9666rem; top: 50%; transform: translateY(-50%); width: 1.2rem; height:1.1rem; background: url(../images/ico_kakao.png) no-repeat center / 1.2rem auto;}
.support li:nth-child(2) a span:after{content: ""; position: absolute; left:1.6666rem; top: 50%; transform: translateY(-50%); width: 2px; height: .6333rem; background: rgba(0,0,0,0.5);}
.support li:nth-child(3) { position: relative; margin-top: 0; line-height: 1;}
.support li:nth-child(4) { margin-top: 0;}
.support li:nth-child(4) a{ background: #f7f7f7; color: #3d3c3c; border: 1px solid #a7a7a7; box-sizing: border-box;}
.support li:nth-child(5) a{ padding: 0;background: #ab47bc; font-size: .6333rem; font-weight: bold; color: #fff; text-align: center;}

.arr{ position: absolute; left: 1.2666rem; top: .9333rem;}
.arr a{ display: block;  width:.3833rem; height: .8333rem;   background: url(../images/ico_arr.png) no-repeat center/ 100% auto; transform: rotate(180deg);}

/*이용안내*/
.cen{ padding: 0 2.15rem 0; text-align: center;}
.guide h2{ padding-bottom: 0.85rem; font-size: .9166rem; color: #000;}
.guide > p{ padding: 0 1.95rem 1rem;font-size: .69rem; color: #7e7e7e; }

.guide ul {text-align: left;}
.guide ul li{padding-top:.9333rem }
.guide ul li div{ position: relative; border-bottom: 1px solid #c5c5c5;}
.guide ul li div label{ display: block; padding: 0.2166rem 0 0 2.35rem; height: 1.2rem; background: url(../images/ico_call.png) no-repeat 0 0 / 1.25rem auto, url(../images/ico_check.png) no-repeat right 0 top 0 /1.25rem auto;  font-size: .7333rem; color: #000;}
.guide ul li:nth-child(2) div label{ display: block; padding: 0.2166rem 0 0 2.35rem; height: 1.2rem; background: url(../images/ico_down.png) no-repeat 0 0 / 1.25rem auto, url(../images/ico_check.png) no-repeat right 0 top 0 /1.25rem auto;  font-size: .7333rem; color: #000;}
.guide ul li:nth-child(3) div label{ display: block; padding: 0.2166rem 0 0 2.35rem; height: 1.2rem; background: url(../images/ico_address.png) no-repeat 0 0 / 1.25rem auto, url(../images/ico_check.png) no-repeat right 0 top 0 /1.25rem auto;  font-size: .7333rem; color: #000;}
.guide ul li div input:checked + label{ background: url(../images/ico_call.png) no-repeat 0 0 / 1.25rem auto, url(../images/ico_check_c.png) no-repeat right 0 top 0 /1.25rem auto;)}
.guide ul li:nth-child(2) div input:checked + label{ background: url(../images/ico_down.png) no-repeat 0 0 / 1.25rem auto, url(../images/ico_check_c.png) no-repeat right 0 top 0 /1.25rem auto;)}
.guide ul li:nth-child(3) div input:checked + label{ background: url(../images/ico_address.png) no-repeat 0 0 / 1.25rem auto, url(../images/ico_check_c.png) no-repeat right 0 top 0 /1.25rem auto;)}

.guide li p{padding: .4666rem 0 0 ; font-size: .5166rem; color: #000; line-height: .6833rem;}

.submit{ padding-top:2.1466rem; }
.submit button{display: block; width: 100%; background: #ab47bc; font-size: .7833rem; color: #fff; line-height: 2.3rem; border-radius: .1666rem; }

.num_input{}
.num_input div{position: relative; display: flex;}
.num_input input[type="tel"]{ width: 100%; height: 2.2666rem; line-height: 2.2666rem; text-indent: 4.2rem;  border-radius: 0.1666rem; outline: 0;}
.num_input input::placeholder{font-size: .7833rem; line-height: 2.2666rem;}
.num_input label a{ position: absolute; left: 1rem; top: 50%; transform: translateY(-50%); font-size: .7833rem; color: #3d3c3c;}
.num_input label a:after{content: ""; display: inline-block; margin: 0 0 0 .8333rem;  width: 2px; height: 1.1666rem; background: rgba(0,0,0,.1);vertical-align: bottom;}
.num_input p{ padding: .5833rem 0 .5833rem;font-size: .5rem; color: #9c9c9c; text-align: left; text-indent: .1333rem;}
.next button{display: block; width: 100%; background: #ab47bc; font-size: 0.7833rem; color: #fff; line-height: 2.3rem; font-weight: bold; border-radius: 0.1666rem;}

.pop {display: none; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 0 1.9rem 0; width: 14.5rem; background: #fff; border-radius: 0.1666rem; box-sizing: border-box;}
.pop h2{ padding: 1rem 0 .8833rem; color: #000; line-height: 1; border-bottom: 1px solid #c1c1c1;}
.pop p{ padding: 1.2rem 0 1.0833rem; color: #ff6000; font-weight: bold;}
.pop div{padding: 0 1.3333rem; font-size: .55rem; color: #2d2d2d; line-height: .75rem; text-align: left;}
.pop ul {display: flex; justify-content: space-around; padding: 1.1666rem 0 1.0666rem;}
.pop ul li a{display: block; padding: 0 1.3333rem; height: 1.75rem;font-size: .7333rem; color: #fff; line-height:1.75rem; border-radius: .1666rem;}

.pop ul li:nth-child(1) a{ background: #bfbfbf;}
.pop ul li:nth-child(2) a{background: #ff6000;}

.num_select ul{display: flex; flex-direction: row;}
.num_select ul li{display: flex; }
.num_select ul li span{display: block; width: 3.25rem; height: 1.7333rem; background: #333333; font-size: .7166rem; color: #fff; text-align: center; line-height: 1.7333rem; }
.num_select ul li label{display: block; font-size: .8rem; color: #333333;}

.number > div{ display: flex; height: 2.3rem;}
.number input{ display: block; width: 100%; height: 2.3rem; background: #f7f7f7; border: 1px solid #b3b3b3; outline: 0; text-indent: 1.3333rem;  box-sizing: border-box; border-radius: 0.1666rem;}
.number div button{ display: block; margin: 0 0 0 .3666rem; width: 3.7rem; height: 2.3rem; background: #9d9d9d; color: #fff; border-radius: 0.1666rem; box-sizing: border-box; outline: 0; cursor: pointer;}
.number button{  margin: .5rem 0 0; display: block; width: 100%; height: 1.6166rem; font-size: .55rem; color: #000; line-height: 1.6166rem; border: 1px solid #b3b3b3; outline: 0; cursor: pointer;}

.number ul { margin-top: 3.2333rem; text-align: left;}
.number li{ position: relative; width: 100%; height:9rem; border: 1px solid #b3b3b3; border-radius: 0.1666rem;}
.number ul li~li{margin-top: .5666rem;}
.number li p{position: relative; padding: 0 0.25rem 0 1.3666rem; width: 100%; font-size: .6166rem; color: #000; line-height: 1.7rem; box-sizing: border-box;}
.number li p:before{ content: ""; position: absolute; left: .8rem; top: 50%; transform: translateY(-50%); display: block; width: .3333rem; height: .3333rem; background: #9d9d9d; border-radius: 100%;}
.number li p:after{ content: ""; position: absolute; left: 0; bottom:0; display: block;  padding: 0 .8rem;width: 100%;height: 1px; background: #b3b3b3; background-clip: content-box; box-sizing: border-box;}
.number ul li em{ display: block; padding: .4rem .8rem 0; height: 4.7rem; font-size: .5rem; line-height: .8rem; overflow: auto;}
.number ul li div.check{position: absolute; right: 0.7333rem; bottom: .5666rem;}
.number ul li div.check label{ display: block; padding: 0 1.6333rem 0 0; height: 1.25rem; background: url(../images/ico_check.png) no-repeat right 0 top 0 / 1.25rem auto; font-size: .55rem; color: #000; line-height: 1.25rem;}
.number ul li div.check input:checked + label{ background: url(../images/ico_check_c.png) no-repeat right 0 top 0 / 1.25rem auto;}

.profile > div{ position: relative; margin-bottom: 0.3rem; height: 7.35rem; background: url(../images/bg_profile.png) no-repeat center / 100% auto;}
.profile > div p a{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);width: 4.7833rem; height: 4.7833rem; background: url(../images/ico_profile.png) no-repeat center / 100% auto;}
.profile >div > p a button{position: absolute; right: 0; bottom: 0; width: 1.333rem; height: 1.333rem; background: url(../images/ico_camera.png) no-repeat #fff center / .7833rem auto; border: 1px solid #777777; border-radius: 100%; outline: 0;}
.profile > div > button{ position: absolute; right: .1666rem; bottom: 0.1333rem; width: 1.333rem; height: 1.333rem; background: url(../images/ico_camera.png) no-repeat #fff center / .7833rem auto; border-radius: 100%; border: 1px solid #777777; outline: 0;}

.profile .setup li{ position: relative; margin-top: 1.1333rem;}
.profile .setup li input{ width: 100%; height: 2.2666rem; background: #f7f7f7; text-align: center; border-radius: .16666rem; outline: 0;}
.profile .setup li div a{position: absolute; right: 0; top: 50%; transform: translateY(-50%); padding: 0 1.1rem 0 0; width: .65rem; height: .65rem; background: url(../images/ico_x.png) no-repeat center / .65rem auto; }
.profile .setup li button{ display: block; width: 100%;  background: #ab47bc; font-size: .75rem;color: #fff; font-weight: bold; line-height: 2.2666rem; border-radius: 0.1666rem;}

.bg{position: relative; width: 100%; height: 11.8833rem; background: url(../images/bg_self.png) no-repeat center / 100% auto;}
.bg a{ position: absolute; left: 50%; top: 85%; transform: translate(-50%, -60%);}
.bg a div{ width: 6.0833rem; height: 6.0833rem; overflow: hidden; border: 1px solid #e8e8e8; border-radius: 100%;}
.bg i{ position: absolute; right: 0; bottom: 0; display: block; width: 1.7666rem; height: 1.7666rem; background: url(../images/ico_normal.png) no-repeat center / 100% auto; border: 1px solid #fff; border-radius: 100%;}
.bg span img{width: 100%;}


.profile_edit{text-align: center;}
.profile_edit h2{ padding: 1.0666rem 0 .6rem; font-size: .9rem; color: #000;}
.profile_edit .option3{ display: flex; justify-content: center; font-size: .4333rem;}
.profile_edit .option3 label{position: relative;}
.profile_edit .option3 em{padding: 0 0 0 .3rem; font-size: .5166rem; color: #000; line-height: 0.7rem;}
.profile_edit .option3 label i{ display: block; position: relative; width: 1.6rem; height: .666rem; background: #959595; color: #fff;border-radius: 40rem; transition: background .5s;  overflow: hidden;}
.profile_edit .option3 label i:before{ content: ""; position: absolute; left: .083rem;
top: calc(50% - 0.2333rem);  width: .4666rem; height: .4666rem; background: #fff; border-radius: 100%; transition: left .5s;}

.profile_edit .option3 label i span{ position: absolute; top:0; font-size: .5rem; color: #fff; line-height: .6455rem; font-style: normal; transition: .5s;}
.profile_edit .option3 label i span:nth-child(1){left: -2rem;}
.profile_edit .option3 label i span:nth-child(2){right: .3rem;}

.profile_edit .option3 input:checked + label i {background: #5cb846;}
.profile_edit .option3 input:checked + label i.red {background: #eb1f27;}
.profile_edit .option3 input:checked + label i.blue {background: #369bff;}
.profile_edit .option3 input:checked + label i:before { left: 1.083rem;}
.profile_edit .option3 input:checked + label i span:nth-child(1){ left: .2rem;}
.profile_edit .option3 input:checked + label i span:nth-child(2) { right: -2rem;}

.profile_edit p{ display: flex; align-items: center; padding: 0 2.3rem 0; margin: .7833rem auto 0.9rem; width: 12.4666rem; height: 2.3rem; background: #f1f1f1; font-size: .5333rem; color: #000; line-height: 0.7666rem; border-radius: .3833rem; box-sizing: border-box; vertical-align: middle;}

.profile_edit ul{ display: flex; justify-content: space-between; margin: 0 auto; width: 12.4666rem; }
.profile_edit ul li{}
.profile_edit ul li button{display: block; width: 1.9rem; height: 1.9rem; overflow: hidden; outline: 0;}
.profile_edit ul li:nth-child(1) button{ background: url(../images/ico_call2.png) no-repeat center / 1.9rem auto;}
.profile_edit ul li:nth-child(2) button{ background: url(../images/ico_sms.png) no-repeat center / 1.9rem auto;}
.profile_edit ul li:nth-child(3) button{ background: url(../images/ico_kakaotalk.png) no-repeat center / 1.9rem auto;}
.profile_edit ul li:nth-child(4) button{ background: url(../images/ico_dm.png) no-repeat center / 1.9rem auto;}
.profile_edit ul li:nth-child(5) button{ background: url(../images/ico_share.png) no-repeat center / 1.9rem auto;}

.request{display: flex; position: fixed; left: 0; right: 0; bottom: 2.3333rem; flex-direction: column; align-items: center; text-align: center;}
.request div a{position: relative; display: block; padding: 0 0 0 .56rem; width: 4.6666rem; height: 1.1rem; background: #4e3783; font-size: .45rem; color: #fff; line-height: 1.1rem; border-radius: .4166rem .4166rem 0 0;}
.request div a:before{content: ""; position: absolute; left: .6666rem; top: 50%; transform: translateY(-50%);  display: block; width: .4666rem; height: .35rem; background: url(../images/ico_arr2.png) no-repeat center / .4666rem auto}

.request ul {display: flex; justify-content: space-between; padding:0 3.7166rem; width: 100%; background: #7552c4; border-top: 1px solid #4e3783; border-bottom: 1px solid #4e3783; box-sizing: border-box;}
.request ul li {position: relative;}
.request ul li button{ display: block; padding: 2.6166rem 0 .4666rem; width:1.8666rem; font-size: .4166rem; color: #fff; background: none;}
.request ul li:nth-child(1) button{background: url(../images/ico_call3.png) no-repeat 0 0.5rem/ 100% auto;}
.request ul li:nth-child(2) button{ background: url(../images/ico_sms2.png) no-repeat 0 0.5rem/ 100% auto;}
.request ul li:nth-child(3) button{ background: url(../images/ico_talk.png) no-repeat 0 0.5rem/ 100% auto;}
.request ul li:nth-child(4) button{ background: url(../images/ico_dm2.png) no-repeat  0 0.5rem/ 100% auto;}
