.ant-layout{
    font-family: 'NotoSansKR', sans-serif;
    height: 100vh;
}
.ant-layout *{
    font-size: 1rem;
}

.text-center{
    text-align: center;
}

.ant-layout-content{
    position: relative;
}
