.text-center {
  text-align: center;
}

.ant-layout * {
  font-size: 1rem;
}

.ant-layout {
  font-family: "NotoSansKR", sans-serif;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  &.ant-typography {
    margin-bottom: 0;
  }
}

.ant-layout-content {
  position: relative;
}


.title{
color: #222;
}
.text{
    color: #A1A1A1;
}