@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR/NotoSansKR-Black.eot");
  src: url("../font/NotoSansKR/NotoSansKR-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../font/NotoSansKR/NotoSansKR-Black.woff2") format("woff2"),
    url("../font/NotoSansKR/NotoSansKR-Black.woff") format("woff"),
    url("../font/NotoSansKR/NotoSansKR-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR/NotoSansKR-Bold.eot");
  src: url("../font/NotoSansKR/NotoSansKR-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../font/NotoSansKR/NotoSansKR-Bold.woff2") format("woff2"),
    url("../font/NotoSansKR/NotoSansKR-Bold.woff") format("woff"),
    url("../font/NotoSansKR/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR/NotoSansKR-Medium.eot");
  src: url("../font/NotoSansKR/NotoSansKR-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../font/NotoSansKR/NotoSansKR-Medium.woff2") format("woff2"),
    url("../font/NotoSansKR/NotoSansKR-Medium.woff") format("woff"),
    url("../font/NotoSansKR/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR/NotoSansKR-Regular.eot");
  src: url("../font/NotoSansKR/NotoSansKR-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../font/NotoSansKR/NotoSansKR-Regular.woff2") format("woff2"),
    url("../font/NotoSansKR/NotoSansKR-Regular.woff") format("woff"),
    url("../font/NotoSansKR/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR/NotoSansKR-Light.eot");
  src: url("../font/NotoSansKR/NotoSansKR-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../font/NotoSansKR/NotoSansKR-Light.woff2") format("woff2"),
    url("../font/NotoSansKR/NotoSansKR-Light.woff") format("woff"),
    url("../font/NotoSansKR/NotoSansKR-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  src: url("../font/NotoSansKR/NotoSansKR-Thin.eot");
  src: url("../font/NotoSansKR/NotoSansKR-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../font/NotoSansKR/NotoSansKR-Thin.woff2") format("woff2"),
    url("../font/NotoSansKR/NotoSansKR-Thin.woff") format("woff"),
    url("../font/NotoSansKR/NotoSansKR-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
